.gmap-listings-result .content {
    margin-bottom: 0;
}

.pac-container { z-index: 999999; }
form.map_disabled {
    display: block;
    text-align: center;
    position: relative;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}
form.map_disabled input[type=text] {
    width: 100%!important;
    max-width: 600px;
    border-radius: 20px!important;
}
form.map_disabled input[type=submit] {
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 17px;
    padding-bottom: 17px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
form.map_enabled input,
form.map_disabled input {
    background: #fff url(../images/search.png) no-repeat right 10px center!important;
    background-size: 24px!important;
    padding-right: 50px;
    color: #333;
}



.burger-map {
    background: url(../images/burger.png) no-repeat;
    width: 24px;
    height: 16px;
    position: absolute;
    z-index: 10;
    top: 19px;
    left: 14px;
    opacity: 0.8;
    outline: none;
}



.toggle-map {
    display: none;
    position: absolute;
    top: 1px;
    right: -44px;
    width: 23px;
    height: 49px;
    cursor: pointer;
    background: rgba(255,255,255,0.9) url(../images/toggle.png) 7px center/7px 10px no-repeat;
    border-left: 1px solid #D4D4D4;
    box-shadow: 0px 1px 4px rgba(0,0,0,0.3)
}
.toggled {
    display: none;
    position: absolute;
    top: 30px;
    left: 0;
    z-index: 100;
    width: 23px;
    height: 49px;
    cursor: pointer;
    background: rgba(255,255,255,0.9) url(../images/toggle.png) 7px center/7px 10px no-repeat;
    border-left: 1px solid #D4D4D4;
    box-shadow: 0px 1px 4px rgba(0,0,0,0.3)
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}



.map-page .wrap { position: relative; }
.map-page .site-inner { padding-top: 0; }
.map-page form { display: none; }
.map-page form.map_enabled {
    position: absolute;
    top: 29px;
    left: 19px;
    z-index: 30;
}
.map-page form.isolated {
    width: 100%;
    top: 0;
    left: 0;
    padding: 15px;
    background-color: #0056a3;
}
.map-page form.isolated .toggle-map {
    top: 15px;
    right: -23px;
}
.toggled.isolated { top: 16px; }
.map-page form.isolated .burger-map {
    top: 33px;
    left: 28px;
}
.map-page form.isolated input {
    width: 349px!important;
    box-shadow: none;
}
.filter-sidebar input { padding-left: 46px!important; }

map {
    display: inline;
}
area {
    display: inline;
    cursor: pointer;
    position: relative;
}


div.map_disabled {
    display: none;
}

#googleMap {
    position: relative;
    background-image: url(../images/waiting.svg);
    background-size: 32px;
    background-color: #eee;
    background-repeat: no-repeat;
    background-position: center;
}


.info-data {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 380px;
    height: 600px;
    overflow: hidden;
    color: #fff;
    background-color: #4285F4;
    padding-bottom: 10px;
    border-bottom: solid 1px #ccc;
}
#googleMap img { max-width: none; }

.info #focus {
    background-color: #eee;
    width: 100%!important;
    height: 293px!important;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.info h2, .info p {
    position: relative;
    z-index: 10;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: normal;
}
.info h2 {
    font-size: 20px;
    margin: 15px 0 6px;
}
.info p{
    font-size: 16px;
    margin: 0 0 5px;
}
.info .details {
    overflow: hidden;
    background-color: #fff;
    padding: 15px;
    margin-top: 15px;
    height: 192px;
    color: #333;
}
.info .details .button {
    float: right;
    text-align: center;
    margin-left: 10px;
    border: solid 2px #0055a5;
}
.info .details .default {
    background-color: transparent;
    background: none;
    border: solid 2px #0055a5;
    color: #0055a5;
}
.info .details .grey {
    background-color: #333;
    background: none;
    border: solid 2px #333;
    color: #333;
}
.info .details h3 {
    font-size: 18px;
}
.info .details h3 span {
    display: inline;
    font-size: 14px;
}
.info p.type { font-size: 14px; }
.info .button {
    display: block;
    margin-top: 18px;
    font-size: 12px;
    max-width: 120px;
    text-align: center;
    padding: 5px 12px;
}
#map-section {
    position: relative;
}
.map-info {
    position: relative;
    width: 380px;
}
.dgroup {
    cursor: pointer;
    display: inline-block;
    margin: 10px;
    padding-left: 40px;
    opacity: 0.8;
}
.dgroup span {
    display: block;
    text-align: left;
    font-size: 13px;
    line-height: 100%;
}
.dgroup .title {
    font-size: 20px;
    margin-bottom: 5px;
}
.dgroup.schools {
    background: url(../images/school.png) no-repeat;
    background-size: 32px!important;
}
.dgroup.restaurant {
    background: url(../images/restaurant.png) no-repeat;
    background-size: 32px!important;
}
.dgroup.store {
    background: url(../images/store.png) no-repeat;
    background-size: 32px!important;
}
.dgroup:hover { opacity: 1; }




.filter-error {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -110px;
    margin-top: -43px;
    z-index: 9999;
    background-color: #fff;
    padding: 20px;
    text-align: center;
    width: 200px;
    height: 66px;
    font-size: 16px;
    box-shadow: 0 0 10px #999;
    border: solid 2px red;
    color: red;
}





#map-filter-standard {
    background-color: #b3141c;
    position: relative;
    width: 100%;
}
#map-filter-standard .map-wrap {
   text-align: center;
}
#map-filter-standard .filter-field {
    position: relative;
    display: inline-block;
    vertical-align: top;
    padding: 20px 0;
    margin: 0 10px;
}
#map-filter-standard .filter-field h3 {
    font-size: 16px;
    text-transform: uppercase;
    padding: 0;
    margin: 4px 0 0;
    color: #f8a4a7;
}
#map-filter-standard .filter-dropdown {
    background: #fff url(../images/dropdown.png) no-repeat right 5px center;
    padding: 10px 40px 10px 10px;
    font-size: 12px;
    cursor: pointer;
    border: solid 1px #f8a4a7;
}

#map-filter-standard .filter-clear-filters { display: none; }
#map-filter-standard .filter-clear {
    background: url(../images/close.png) no-repeat right 5px center;
    padding: 10px 28px 10px 10px;
    font-size: 12px;
    cursor: pointer;
    color: #fff;
}
#map-filter-standard .filter-dropdown.selected { color: #b3141c; }
#map-filter-standard .filter-options {
    display: none;
    position: absolute;
    background-color: #fff;
    border: solid 1px #ccc;
    width: 250px;
    z-index: 999999;
    top: 66px;
    left: 0;
}
#map-filter-standard .filter-options.price-slider-dropdown {
    width: 300px;
}
.price-slider-dropdown #slider-range { left: 30px; }
.price-slider-dropdown .price-slider {
    padding-bottom: 24px;
}
.price-slider-dropdown .price-slider span {
    padding: 10px 16px!important;
    cursor: default!important;
    background: none!important;
}
.price-slider-dropdown .price-slider span:hover { background: #fff!important; }
#map-filter-standard .filter-options span {
    display: block;
    padding: 10px 32px;
    text-align: left;
    font-size: 12px;
    cursor: pointer;
    color: #464646;
}
#map-filter-standard .filter-options span:hover { background: #eee; }
#map-filter-standard .filter-options span.selected:hover { 
    background: #eee url(../images/selected.png) no-repeat left 10px center;
    background-size: 16px;
}
#map-filter-standard .filter-options span.default {
    border-bottom: solid 1px #ccc;
}
#map-filter-standard .filter-options span.selected {
    background: url(../images/selected.png) no-repeat left 10px center;
    background-size: 16px;
}








#map-filter {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1100;
}
#map-filter:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: #000;
    opacity: 0.5;
}
#map-filter .map-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    box-shadow: 0px 1px 4px rgba(0,0,0,0.3);
    z-index: 10;
    background-color: #fff;
    padding: 20px;
    margin-left: -300px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.hide-filter {
    float: right;
    background: no-repeat url(../images/settings.png) 0 -658px;
    height: 24px;
    width: 24px;
}
.map-field {
    overflow: hidden;
    margin-top: 20px;
}
.map-field label {
    display: block;
    font-size: 13px;
    margin-bottom: 6px;
}
.map-field .title { color: #005581; }
.map-field input, .map-field select {
    padding: 10px;
    color: #333;
}
#map-filter .btn {
   float: none;
   display: block;
   width: 100%;
   margin-top: 30px;
}







.map-view-wrapper {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 10;
    width: 100%;
    text-align: right;
}
.map-view-wrapper .map-view {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    background-color: #fff;
    padding: 10px;
    overflow: hidden;
    border-bottom: solid 1px #ccc;
    cursor: pointer;
}
.map-view-wrapper .map-view:hover { background-color: #eee; }
.map-view-wrapper .map-view.active { background-color: #eee; }
.map-view-wrapper .map-view span {
    float: left;
    width: 24px;
    height: 24px;
    margin-right: 8px;
    background-repeat: no-repeat;
    background-size: cover;
}

.map-view.sdbar span {
    display: none;
    background-image: url(../images/open.png);
}
.map-view.map span { background-image: url(../images/map.png); }
.map-view.street span { background-image: url(../images/street.png); }
.map-view.gallery span { background-image: url(../images/gallery.png); }




.radius-wrapper {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 999;
    width: 168px;
    background-color: #fff;
    padding: 10px;
}
.radius-wrapper input,
.radius-wrapper select {
    float: left;
    padding: 5px;
    font-size: 12px;
    color: #333;
}
.radius-wrapper input {
    width: 40%;
    margin-right: 5%;
    text-align: center;
}
.radius-wrapper select {
    width: 55%;
}
.radius-wrapper span {
    display: block;
    clear: both;
    font-size: 12px;
    margin-top: 5px;
    color: #777;
}




.filtered-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;    
    background-color: #fff;
    padding: 98px 0 10px;
    overflow-y: auto;
    overflow-x: hidden;
}
.filtered-box {
    overflow: hidden;
    padding: 20px;
    color: #555;
    cursor: pointer;
}
.filtered-box:hover { background-color: #eee; }
.filtered-box .img {
    float: left;
    width: 130px;
    height: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.filtered-box .filtered-info {
    margin-left: 150px;
}
.filtered-box span {
    display: block;
    margin-bottom: 10px;
    line-height: 100%;
}
.filtered-box .title {
    font-size: 18px;
    color: #005581;
}
.filtered-box .address {
    font-size: 14px;
}
.filtered-box .type {
    font-size: 12px;
    margin-bottom: 0;
}



.waiting, .waiting:before, .waiting:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
}
.waiting:after {
    z-index: 0;
    background-color: #000;
    opacity: 1;
}
.waiting:before {
    z-index: 10;
    background-image: url(../images/waiting.svg);
    background-size: 32px;
    background-repeat: no-repeat;
    background-position: center;
}




.gallery-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 99999;
}
.gallery-wrapper:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    background-color: #000;
    opacity: 0.9;
}
.gallery-wrapper .bx-wrapper {
    position: absolute;
    width: 100%;
    height: 100px;
    left: 0;
    bottom: 0;
    z-index: 1;
}
.gallery-wrapper .bx-controls {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}
.gallery-wrapper .bx-wrapper .bx-controls-direction a {
    display: block;
    top: 34px!important;
    opacity: 1!important;
}
.gallery-carousel-photo {
    width: 100px;
    height: 100px;
    background-size: cover!important;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.5;
}
.gallery-carousel-photo.active { opacity: 1; }
.gallery-wrapper .bx-wrapper .bx-viewport {
    background: #000!important;
    left: 0!important;
    padding: 0!important;
    box-shadow: none;
    border: 5px solid #000;
}
.gallery-photo {
    width: 800px;
    height: 470px;
    background-size: cover!important;
    background-repeat: no-repeat;
    background-position: center;
    margin: 18px auto 0;
    position: relative;
    z-index: 1;
}
.close-gallery {
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 10;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    font-size: 20px;
    line-height: 23px;
    color: #ccc;
    border: solid 2px #ccc;
    background-color: #000;
}





.info-tip p { line-height: 20px; }





.map-rating {
    overflow: hidden;
}
.map-rating .info-head {
    font-size: 14px!important;
    line-height: 20px!important;
    margin-bottom: 4px!important;
}
.map-rating .map-rating {
    line-height: 100%;
    width: 60px;
}
.map-rating .map-rating img {
    display: inline-block;
    vertical-align: top;
    width: 12px;
    height: 12px;
}
.map-rating img.disabled { opacity: 0.5 }
.info-distance {
    float: left;
    width: 50px;
    text-align: center;
    font-size: 20px;
    line-height: 100%;
}
.info-distance span {
    display: block;
    line-height: 100%;
    margin-top: 8px;
    font-size: 12px;

}
.info-wrap {
    margin-left: 60px;
}





.error {
    display: block;
    overflow: hidden;
    padding: 40px;
    text-align: center;
    border: solid 1px red;
    color: red;
    font-size: 14px;
}




.recent-listings{
    float: none!important;
    display: inline-block;
    vertical-align: top;
    width: 30%;
    margin: 0 1%;
}
.recent-listings.second{
    margin: 0 3%;
}
.recent-photo {
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
}

.property-listing .site-inner,
.property-listing .inner-top{
    display: none;
}
.gmap-listings{
    font-size: 16px;
}
.gmap-listings h4{
    font-size: 23px;
    font-weight: 400;
    padding: 9px 15px 4px 0;
    line-height: 29px;
    margin-bottom: 15px;
}
.map_fields{
    display: block;
    max-width: 500px;
    margin-bottom: 10px;
    position: relative;
}
.map_fields fieldset{
    background: white;
    padding: 20px;
    border: solid 1px #ddd;
}
.map_fields label{
    font-size: 14px;
    font-weight: normal;
    display: block;
    margin-bottom: 5px;
}
.map_fields p{
    color: #aaa;
}
.map_fields input, .map_fields select{
    width: 98%;
    margin-bottom: 20px;
}
.map_fields textarea{
    width: 98%;
    height: 150px;
}
.map_fields span{
    display: block;
    margin-bottom: 15px;
    font-size: 13px;
}

#wait{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#wait:before{
    content: '';
    position: absolute;
    z-index: 99;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: url(../images/ajax-loader.gif) no-repeat center;
}

#wait:after{
    content: '';
    background: #f1f1f1;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    left: 0;
    top: 0;
    opacity: 0.95;
}

.pagi{
    text-align: center;
    margin-top: 22px;
}

.pagi li{
    display: inline-block;
    vertical-align: top;
    padding: 0!important;
    border-bottom: none!important;
    margin: 0 0.5px;
}

.pagi li:first-child{
    margin-left: 0!important;
}

.pagi li:last-child{
    margin-right: 0!important;
}

.pagi li a{
    display: block;
    border: solid 1px #959595;
    color: #959595;
    padding: 5px;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
}

.pagi li a:hover, .pagi li a.active{
    background: #35597b;
    color: white;
    border: solid 1px #35597b;
}

.page .prev, .pagi .next{
    font-size: 11px;
}


.remax-long-lat {
    background: white!important;
}




.map {
    overflow: hidden;
    position: relative;
}
#price_slider_container{
    overflow: hidden;
    clear: both;
}
.price-slider{
    float: left;
    width: 100%;
    padding-bottom: 12px;
}

.dollar-sign{
    float: left;
    font-size: 35px;
    line-height: 100%;
    color: #35597b;
}

.page .ui-widget-content{
    width: 229px;
    position: relative;
    border: none!important;
    background: #e1e1e1!important;
    border-radius: 20px!important;
    height: 11px!important;
    top: 3px;
    clear: both;
}
 .page .ui-widget-header{
    background: #cdcdcd!important;
    height: 11px!important;
    border-radius: 0;
}

.page .ui-state-default,  .page .ui-widget-content .ui-state-default,  .page .ui-widget-header .ui-state-default{
    position: absolute;
    border: none!important;
    background: #959595!important;
    border-radius: 50%!important;
    width: 13px!important;
    height: 13px!important;
    top: -1px!important;
}
.ui-slider-horizontal .ui-slider-range{
    position: absolute;
    height: 11px!important;
    top: 0!important;
    border-radius: 20px;
}

#min{
    float: left;
}

#max{
    float: right;
}

#min, #max{
    font-size: 15px;
    color: #959595;
}

#lazy{
    display: none;
    background: url(../images/ajax-loader.gif) no-repeat;
    width: 31px;
    height: 31px;

    float: right;
}


.type-of-home span{
    cursor: pointer;
}
span.uncheck{
    background: url(../images/uncheck.png) no-repeat 0 8px!important;
}
span.check{
    background: url(../images/check.png) no-repeat 0 8px!important;
}




.com_menu {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 216px;
    padding: 10px;
    background-color: #fff;
    z-index: 10;
    font-size: 12px;
}

.com_menu a {
    float: right;
}

.com_menu span {
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 1px;
    margin-bottom: 12px;
    padding-bottom: 5px;
    border-bottom: solid 1px #ccc;
    color: #004c94;
}

.com_menu label {
    display: block;
    vertical-align: top;
    margin-bottom: 5px;
}

.com_menu label:last-child { margin-bottom: 0; }

.com_menu label input {
    display: inline-block;
    vertical-align: middle;
}

.com_menu label.active { color: #004c94; }




.listing-intro {
    color: #464646;
    font-size: 16px;
}
.listing-intro h1 {
    text-align: center;
    font-size: 36px;
    color: #35597b;
    margin-bottom: 30px;
}
.listing-intro h1 span {
    display: block;
    color: #464646;
    font-size: 20px;
    margin-top: 5px;
}
.listing-item h1 {
    color: #000;
    font-weight: bold;
    border-bottom: 0 !important;
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
}
.listing-item h2 {
    font-size: 12px;
    color: #0055a5;
}
.listing-intro ul, .listing-intro ol{
    margin: 0;
    padding: 0;
}
.listing-item {
    margin-bottom: 20px;
}
.listing-information {
    margin-bottom: 40px;
    padding-bottom: 40px;
    padding-top: 40px;
    border-bottom: 1px solid #c7c7c7;
    /*border-top: 1px solid #c7c7c7;*/
}
.listing-general,
.listing-additional{
    margin-bottom: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid #c7c7c7;
}
.first-time-pdf {
    margin-bottom: 60px;
}
.listing-general,
.listing-additional {
    color: #464646;
}
.listing-general .one-half,
.listing-additional .one-half,
.listing-information .one-half{
    padding: 8px 0;
}

.bx-wrapper img {
    width: 100%;
}

.bx-wrapper ul li img {
    height: 420px;
    overflow: hidden;
}
.remax-listing-info .site-inner .wrap {
    max-width: 1100px;
    width: 100%;
    color: #464646;
}
.listing-intro {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #c7c7c7;
}
.listing-information {
    margin-bottom: 40px;
    padding-bottom: 40px;
    padding-top: 40px;
    border-bottom: 1px solid #c7c7c7;
    /*border-top: 1px solid #c7c7c7;*/
}
.listing-general,
.listing-additional{
    margin-bottom: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid #c7c7c7;
}
.first-time-pdf {
    margin-bottom: 60px;
}
.listing-general,
.listing-additional {
    color: #464646;
}
.remax-listing-info .listing-general .one-half,
.remax-listing-info .listing-additional .one-half,
.remax-listing-info .listing-information .one-half{
    padding: 8px 0;
}

.listing-information .item-row:nth-child(odd){
    background: #E5E5E5;
    padding-left: 5px;
    padding-right: 5px;
}
.listing-information .item-row:nth-child(even){

    padding-left: 5px;
    padding-right: 5px;
}
.listing-general .item-row:nth-child(even),.listing-additional .item-row:nth-child(even){
    background: #E5E5E5;
    padding-left: 5px;
    padding-right: 5px;
}

.listing-right.neighbourhood-map .tabs a {
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
}
.listing-right.neighbourhood-map .tabs a.active {
    background: #0055a5;
}
.listing-right.neighbourhood-map .tabs a.active:before {
    background: url("../images/blue-active.png") no-repeat center;
    bottom: -14px;
    z-index: 1;
}
.listing-right .tab-content {
    display: none;
    min-height: 420px;
}
.listing-right .tab-content.show {
    display: block;
}
.listing-right .bx-wrapper .bx-viewport {
    left: 0;
    border: 0;
}



#n-map,
#t-map {
    height: 100%;
    min-height: 500px;
}

.gm-style-iw .info, 
.gm-style-iw .info-tip { width: 180px; }
.gm-style-iw .info-head {
    color: #0055a5;
    font-size: 20px;
    margin-bottom: 6px;
    text-align: left;
}
.gm-style-iw strong {
    font-weight: bold;
    font-size: 16px;
}






.map_error{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #eee;
    left: 0;
    top: 0;
}
.map_error span{
    background: #fff;
    padding: 20px;
    width: 480px;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 40%;
    margin-left: -240px;
    box-shadow: 0 0 10px #ccc;
}







.percent_wrap{
    overflow: hidden;
    clear: both;
    text-align: center;
    margin-top: 70px;
}
.percent_wrap .percircle.big,
.percent_wrap .percircle.small{
    float: none;
    display: inline-block;
    margin: 0 32px;
}
.percircle:after{
    background: #fff!important;
}
.percircle.small{
    float: none;
    display: inline-block;
    vertical-align: top;
}

.percircle.yellow{
    background-color:#dcbd00!important;
}
.percircle.yellow .bar{
    border-color: #fff!important;
}
.percircle.yellow:hover > span{
    color: #307bbb!important;
}

.percircle.big i,
.percircle.small i{
    display: block;
    font-style: normal;
    font-size: 20px;
    line-height: 100%;
}
.percircle.small i{
    font-size: 12px;

    color:#555555;
}
.percircle.big span,
.percircle.small span{
    color: #35597b;
    font-size: 72px;
    line-height: 100%;
}
.percircle.small span{
    font-size: 26px;
    line-height: 28px;
}
.percircle.big > span{
    margin-top: -48px!important;
}
.percircle.small > span{
    margin-top: -22px!important;
}
.percent_wrap .fill,
.percent_wrap .bar{
    border: solid 0.08em #35597b!important;
}










.static_circle{
    display: inline-block;
    border-radius: 50%;
    vertical-align: top;
}
.static_circle *{
    display: inline-block;
    vertical-align: middle;
    font-style: normal;
    font-size: 20px;
    line-height: 100%;
    margin-top: 52px;
}
.static_circle em{
    font-size: 28px;
    margin-top: 18px;
    font-weight: bold;
}














#custom_posts_category{
    border-bottom: solid 1px #c7c7c7;
    padding: 20px 0 20px;
}
#custom_posts_category:first-child{
    padding: 20px 0 20px;
}
#custom_posts_category:last-child{
    padding: 20px 0 0;
    border-bottom: none;
}
#custom_posts_category .attachment-post-thumbnail{
    float: left;
    width: 300px;
    height: auto;
}
#custom_posts_category .entry-content p{
    margin-left: 330px;
}
#custom_posts_category .no-thumbnail p{
    margin-left: 0;
}



.custom_pagination a{
    display: inline-block;
    vertical-align: top;
    padding: 0 10px;
    text-align: center;
    border: solid 1px #c7c7c7;
}
.custom_pagination:last-child{
    margin-right: 0;
}
.custom_pagination a.active{
    color: #c7c7c7;
}








.gmap_progress_holder{
    position: relative;
    max-width: 730px;
    border: solid 1px #ccc;
    padding: 20px;
    margin-bottom: 40px;
}
.gmap_progress_holder p{
    display: block;
    clear: both;
    margin: 0;
    padding: 0;
}
.gmap_progress_holder legend{
    font-weight: bold;
    font-size: 14px;
}
.gmap_progress_holder span{
    font-size: 12px;
    display: block;
    margin-bottom: 5px;
    line-height: 100%;
    text-transform: uppercase;
}
.grab_start span { display: none; }
.grab_started { position: relative; }
.grab_started span {
    display: block!important;
    background: url('../images/refresh.gif') no-repeat;
    width: 32px;
    height: 32px;
    position: absolute;
    top: 50%;
    right: -36px;
    margin-top: -16px;
}
#residential_progress, #condo_progress, #commercial_progress,
#photos_progress, #latlong_progress,
#latlong_residential_progress, #latlong_commercial_progress, #latlong_condo_progress {
    width: 100%;
    border: solid 1px #ccc;
    height: 17px;
    margin-bottom: 5px;
}
#residential_information, #condo_information, #commercial_information,
#photos_information, #latlong_information,
#latlong_residential_information, #latlong_commercial_information, #latlong_condo_information {
    display: block;
    margin-bottom: 26px;
    font-size: 12px;
}
#commercial_progress,
#condo_progress{
    border-left: none;
}

#gmap_progress_col{
    float: left;
    width: 33.33%;
}



#more_holder input{
    display: block;
}
#add_more_api{
    position: absolute;
    right: 5px;
    top: 41px;
    display: inline-block;
    background: #fff;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-left: 10px;
    color: #35ac19;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    text-decoration: none;
    border: solid 1px #35ac19;
    z-index: 10;
}
#remove_map_api{
    color: #d54e21;
    border: solid 1px #d54e21;
}
#remove_api_button{
    position: absolute;
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 50%;
    color: #d54e21;
    border: solid 1px #d54e21;
    text-align: center;
    font-size: 30px;
    line-height: 15px;
    text-decoration: none;
    right: 35px;
    margin-top: -44px;
    z-index: 15;
}














#squeez_container{
    width: 100%;
    margin: 0 auto;
}

#squeez_container p{
    margin-bottom: 40px;
}

#squeez_container .left,
#squeez_container .right{
    border-radius: 5px;
}

#squeez_container .left{
    float: left;
    width: 48%;
}

#squeez_container .right{
    float: right;
    width: 48%;
    clear: right;
    text-align: center;
    margin-bottom: 30px;
}

#squeez_container .right p{
    font-size: 14px;
    margin-bottom: 0;
}

#squeez_container .right p:last-child{
    margin-bottom: 0;
}

#squeez_container .right .wrap{
    overflow: hidden;
    padding:  30px;
    background: #f2f2f2;
    border: solid 1px #c7c7c7;
}

#squeez_container .clear{
    clear: both;
    margin-bottom: 30px; 
}

#squeez_container input.medium{
    width: 98%;
}

#squeez_container .image-holder{
    display: block;
    background: #959595;
    height: 258px;
    margin-bottom: 30px;
}

#squeez_container .image-holder.bt{
    margin-bottom: 0;
}

#squeez_container h1, #squeez_container h2, #squeez_container h3, #squeez_container h4{
    color: #35597b;
}

#squeez_container .gform_wrapper{
    margin: 0;
    max-width: 100%;
}

#squeez_container .gform_wrapper .gform_footer{
    text-align: center;
}

#squeez_container .gfield {
    text-align: center;
}

#squeez_container input[type=submit]{
    background: #e21a22;
}

ul.check{
    float: left;
    width: 100%;
    margin: 0;
}
ul.check li{
    display: block;
    background: url(../images/li-check.png) no-repeat 0 6px;
    padding-left: 55px;
    margin-bottom: 30px;
}












.ftitle {
    margin-bottom: 40px;
}


.fsidebar {
    width: 20%;
    float: left;
}


.listing-info .fsidebar {
    width: 25%;
}


.fholder {
    overflow: hidden;
    margin-bottom: 16px;
}


.field_title {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: bold;
}

.field_title em {
    font-style: normal;
}


.fsidebar .fwidget {
    margin-bottom: 30px;
}

.fsidebar .share h3 { font-size: 14px; }


.fsidebar input[type=text], .fsidebar select, .fsidebar textarea {
    background-color: #fff;
    border: 1px solid #ccc;
    color: #999;
    font-size: 14px;
    font-size: 1.4rem;
    font-weight: 400;
    padding: 8px 10px!important;
    width: 100%!important;
    margin-bottom: 10px;
}

.fsidebar textarea { height: 116px!important; }

.fsidebar .gfield_checkbox { font-size: 12px; margin-bottom: 20px!important; }

.fsidebar form li {
    margin: 0!important;
}

.fsidebar .small {
    width: 50%;
}


.fsidebar label {
    display: block;
    vertical-align: middle;
    font-size: 12px;
}

.fsidebar .gfield_label { display: none!important; }

.fsidebar input[type=checkbox] {
    float: left;
    width: auto;
    display: inline-block;
    margin-right: 10px;
}

.fsidebar .fdummy {
    display: block;
    overflow: hidden;
    background-color: #eee;
    border: solid 1px #ccc;
    height: 100px;
    margin-bottom: 16px;
}


.fbutton, .fsidebar input[type=submit] {
    background-color: #004c94!important;
    color: #fff!important;

    font-size: 14px;
    font-size: 1.4rem;
    font-weight: 400;
    padding: 10px 16px;
    width: 100%;
    margin-bottom: 10px;
}







.fcontent {
    position: relative;
    float: right;
    width: 75%;
    min-height: 500px;
    padding-bottom: 30px;
}


.listing-info .fcontent {
    width: 70%;
}


.fcontent.load {
    background: url(../images/ajax-loader.gif) no-repeat center;
}

.fcontent.scrolled {
    background: url(../images/ajax-loader.gif) no-repeat center bottom;
}

.fcontent .fbutton {
    font-size: 13px!important;
}

.fview_options {
    overflow: hidden;
    vertical-align: middle;
    margin-top: 27px;
    margin-bottom: 40px;
}

.fview_options span {
    float: left;
    background-color: #ccc;
    padding: 5px 10px;
    font-size: 13px;
    text-align: center;
    margin-right: 10px;
    cursor: pointer;
}

.fview_options span:hover {
    background-color: #eee!important;
    color: #000!important;
}

.fview_options span.active,
.flarger span[data-value='larger'] {
    background-color: #004c94;
    color: #fff;
}

.fview_options span.right {
    float: right!important;
    margin-right: 0;
}


.fview {
    position: relative;
    display: none;
}

.fview.active {
    display: block!important;
}


.ferror {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    width: 300px;
    height: 50px;
    text-align: center;
    font-size: 14px;
    padding: 20px;
    background-color: #fff;
    border: solid 2px red;
}





.flarger .bx-wrapper .bx-controls-direction a { z-index: 0!important; }

.flarger .wrap {
    max-width: 100%;
}

.flarger .content-sidebar-wrap {
    background-color: #fff;
    position: absolute;
    top: 3%;
    left: 3%;
    width: 94%;
}

.admin-bar.flarger .content-sidebar-wrap {
    top: 8%!important;
}

.flarger .content-sidebar-wrap:after {
    content: '';
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 1;
}

.flarger .content-sidebar-wrap .content {
    position: relative;
    z-index: 10;
}







.fgrid {
    float: left;
    width: 32%;
    position: relative;
    margin-bottom: 20px;
    background-color: #000;
    color: #fff;
    font-size: 12px;
}

.fgrid:nth-child(3n+2) {
    margin-left: 2%;
    margin-right: 2%;
}

.fgrid span {
    display: block;
    font-size: 12px;
}

.fgrid span.small {
    font-size: 10px;
}

.fgrid span.large {
    font-size: 16px;
    font-weight: bold;
}

.fgrid span i {
    font-weight: normal;
    font-style: normal;
    font-size: 11px;
}

.fgrid img {
    position: relative;
    z-index: 0;
    width: 100%;
    height: 200px;
    opacity: 0.8;
}

.fgrid a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    color: #fff;
}

.fgrid a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    -webkit-box-shadow: inset 0px 47px 71px -24px rgba(0,0,0,1);
    -moz-box-shadow: inset 0px 47px 71px -24px rgba(0,0,0,1);
    box-shadow: inset 0px 47px 71px -24px rgba(0,0,0,1);
}

.fgrid a:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    -webkit-box-shadow: inset 0px -48px 71px -24px rgba(0,0,0,1);
    -moz-box-shadow: inset 0px -48px 71px -24px rgba(0,0,0,1);
    box-shadow: inset 0px -48px 71px -24px rgba(0,0,0,1);
}

.ftop, .fbottom {
    position: absolute;
    left: 4%;
    width: 92%;
    z-index: 5;
}

.ftop {
    top: 4%;
}

.fbottom {
    bottom: 4%;
}






.fitem {
    overflow: hidden;
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: solid 1px #ccc;
}

.fitem h3 {
    line-height: 100%;
    margin-bottom: 8px;
}

.fitem span {
    display: block;
    font-size: 13px;
    margin-bottom: 5px;
    line-height: 100%;
}

.fitem span.small {
    font-size: 11px;
}

.fitem span.large {
    font-size: 14px;
}

.fitem span.space {
    height: 5px;
}

.fitem p {
    font-size: 12px;
    line-height: 20px;
}


.fimage {
    float: left;
    width: 300px;
}

.fimage img {
    width: 100%;
    height: auto;
    margin-bottom: 5px;
}

.fimage span {
    font-size: 10px;
    line-height: 18px;
}



.fdetails {
    margin-left: 330px;
}




.ftotop {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 20px;
}







.pagination { list-style:none; margin:0px; padding:0px;}  
.pagination li{float:left; margin:3px;}  
.pagination li a{   display:block; padding:3px 5px; color:#777; background-color:#ccc; text-decoration:none;}  
.pagination li a.active {border:1px solid #004c94; color:#fff; background-color:#004c94;}  
.pagination li a.inactive {background-color:#eee; color:#777; border:1px solid #ccc;}  








.bx-wrapper .bx-loading { background-color: transparent!important; display: none; }







.fsingle-header {
    font-size: 24px;
    font-weight: normal;
    color: #35597b;
    border-bottom: solid 1px #ccc;
    padding-bottom: 10px;
    margin-bottom: 20px;
    overflow: hidden;
}

.fsingle-header h1 {
    font-size: 24px;
    float: left;
}

.fsingle-header span {
    float: right;
}


.fcol span {
    display: block;
}

.fcol span em {
    display: inline-block;
    font-style: normal;
    vertical-align: bottom;
    margin-right: 20px;
}

.fcol span em:last-child { margin-right: 0; }



#fsingle-det {
    overflow: hidden;
}




#flisting {
    overflow: hidden;
    margin-top: 30px;
}

#flisting h3 {
    margin-bottom: 30px;
}

.flistings {
    width: 46%;
}

.flistings li {
    display: block;
    overflow: hidden;
    border: solid 1px #35597b;
    padding: 5px 10px;
    margin-bottom: 10px;
}

.flistings li span {
    float: right;
    color: #35597b;
}




#fdetails {
    overflow: hidden;
    margin-top: 30px;
}

#fdetails h3 {
    margin-bottom: 30px;
}

#fdetails .fnote strong {
    display: block;
    font-weight: bold;
    color: red;
}













.fright { float: right; }
.fleft { float: left; }








.bx-controls-direction a {
    position: absolute;
    top: 32px!important;
    left: 5px!important;
    background: transparent url(../images/196x52-nav-arrows.svg) no-repeat -112px 5px!important;
    width: 45px!important;
    height: 70px!important;
    margin-top: -13px!important;
    text-indent: -9000px!important;
    cursor: pointer!important;
    opacity: 0.8;    
}

.bx-controls { position: relative; }

.fbxslider .bx-next, .gallery-wrapper .bx-next {
    right: 5px!important;
    left: auto!important;
    background-position: -165px 5px!important;
}

#fgallery {
    position: relative;
    overflow: hidden;
    margin: 20px 0 50px;
}
#fgallery .bx-viewport { box-shadow: none!important; }
#fgallery .bx-controls {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
#fgallery .photo {
    width: 100%;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.gallery-pager .photo {
    height: 120px!important;
}

.fslider-pager {
    text-align: center;
    margin-top: -50px;
}


.fslider-pager img {
    width: 81px;
    height: 116px;

    padding: 3px;
    border: solid #ccc 1px;
}

.fslider-pager .active img {
    border: solid 1px #35597b;
}





.ffslider-cover .bx-viewport {
    background: none!important;
    height: auto!important;
    box-shadow: none!important;
    padding: 0!important;
    border: none!important;
}

.ffslider li {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
}

.ffslider .fgrid {
    float: none;
    width: auto;
    margin-bottom: 0;
    padding-bottom: 0;
    background: none;
}

.ffslider .fgrid img {
    height: auto!important;
    max-height: 200px;
    min-height: 200px;
}


.ffslider-cover .bx-controls-direction a {
    top: -112px!important;
    left: -50px!important;
}

.ffslider-cover .bx-controls-direction .bx-next {
    right: -50px!important;
    left: auto!important;
    background-position: -165px 5px!important;
}






@media only screen and (max-width: 860px) {
    .map-page .site-inner .wrap {
        padding-left: 0;
        padding-right: 0;
    }



    .gallery-photo {
        width: 94%;
        height: 518px;
    }

    .gallery-carousel-photo,
    .gallery-wrapper .bx-wrapper { height: 50px; }
    .gallery-wrapper .bx-wrapper .bx-controls-direction a { display: none; }
}




@media only screen and (max-width: 620px) {

    #googleMap { height: 432px!important; }

    .gallery-photo {
        width: 94%;
        height: 350px;
    }

    .gallery-carousel-photo,
    .gallery-wrapper .bx-wrapper { height: 50px; }


    .gallery-wrapper .bx-wrapper .bx-controls-direction a,
    .radius-wrapper { display: none; }


    .map-view-wrapper {
        display: table;
        text-align: center;
        bottom: -1px;
        border-top: solid 1px #ccc;
    }
    .map-view-wrapper .map-view {
        display: table-cell;
        font-size: 0%;
    }
    .map-view-wrapper .map-view span {
        float: none;
        margin-right: auto;
        margin-left: auto;
        display: block;
    }


    .info-data {
        width: 100%;
        height: 432px;
    }
    .info #focus { height: 142px!important; }
    .info h2 {
        margin: 10px 0 6px;
        font-size: 18px;
    }
    .info p {
        margin: 0;
        font-size: 13px;
    }
    .info .details {
        margin-top: 9px;
    }
    .dgroup {
        margin: 4px 6px 6px;
    }
    .info .button {
        margin-top: 6px;
    }
    .map-info {
        width: 100%;
        max-width: 380px;
    }
}
@media only screen and (max-width: 420px) {
    .toggle-map { display: none!important; }
}
@media only screen and (max-width: 320px) {
    .map-page form input[type=text] { width: 273px!important; }
    .map-page form.isolated input { width: 282px!important; }
    .filtered-box .img {
        width: 100px;
        height: 72px;
    }
    .filtered-box .filtered-info { margin-left: 116px; }

    .dgroup { padding-left: 32px; }
    .dgroup span { font-size: 11px; }
    .dgroup.schools, .dgroup.restaurant, .dgroup.store {
        background-size: 22px!important;
    }
    .dgroup .title { font-size: 18px; }
    .info .button { margin-top: 13px; }
}






@media only screen and (max-width: 950px) {
    .recent-photo {
        height: 200px;
    }
}

@media only screen and (max-width: 760px) {
    #squeez_container .left,
    #squeez_container .right{
        width: 100%;
    }

    #squeez_container .left{
        margin-bottom: 40px;
    }
}
@media only screen and (max-width: 600px) {
    #fgallery .bx-controls { display: none; }
    .gallery-pager .photo {
        height: 108px!important;
    }
}